#about {
    padding-top: 2em;
    p {
        font-family: CaskaydiaMono;
        font-size: x-large;
        text-align: center;
        color: var(--hunter-green);
        margin-inline: 4em;
    }
    h2 {
        font-family: CaskaydiaMono;
        text-align: center;
        padding: 0.5em 4em;
        margin: 0;
        font-weight: bold;
    }
    div.about-title {
        background-image: url('../assets/images/bluewashitape.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    div.carousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        position: relative;
        img.carousel-image {
            object-fit: cover;
            width: 60%;
            height: auto;
            aspect-ratio: 16 / 9;
        }
        .left-arrow {
            transform: scaleX(-1);
        }
        button {
            margin: 0 1em;
            height: fit-content;
            background-color: transparent;
            border: none;
            background-image: url('../assets/images/pictures_arrow.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: auto;
            aspect-ratio: 1 / 1;
        }
        button:hover, button:active {
            background-image: url('../assets/images/pictures_arrow_click.png');
        }
        img.carousel-tape {
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            max-width: 36%;
        }
        p.image-counter {
            position: absolute;
            font-weight: bold;
            bottom: 0;
            margin: 0;
            transform: translateY(50%);
            font-size: x-large;
            color: black;
        }
    }
    @media only screen and (max-width: 650px) {
        p {
            margin-inline: 2em;
            font-size: medium;
        }
        div.carousel {
            button {
                width: 50px;
            }
            img.carousel-image {
                width: 70%;
            }
            p.image-counter {
                font-size: small;
            }
        }
    }
}