#footer {
    padding-block: 2em;
    padding-inline: auto;
    margin: 0;
    background-color: #1d2733;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    --glowing-yellow: #FEF6B0;

    h3 {
        font-family: 'CaskaydiaMono';
        font-weight: bold;
        text-align: center;
        /* color: var(--glowing-yellow); */
        color: white;
        font-size: medium;
    }

    .social-icon {
        color: var(--icon-color);
        font-size: 26px;
    }

    .social-link {
        margin-inline: .3em;
    }

    .main-site-link {
        color: var(--glowing-yellow);
        text-decoration: underline;
    }

    .footer-logo {
        max-width: 190px;
        height: auto;
        margin-right: 1em;
    }
    
    .social-container {
        display: flex;
        flex-direction: column;
        margin: 0 2em ;
        width: max-content;
        justify-content: center;
        align-items: center;
    }
}

 @media only screen and (max-width: 760px) {
    #footer {
        flex-direction: column;
    
        .footer-logo {
            margin: 0;
        }
    }
}