#nav {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: hsl(194, 43%, 80%);
  font-family: CaskaydiaMono; /*make to have like a slight transparency*/
  color: var(--hunter-green);
  border-radius: 25px;
  top:10px;
    left:10px;
    right:10px;
  position: fixed;
  bottom: auto;
  z-index: 1000;
}

.nav-left{
    display:flex;
    justify-self: start;
    gap:40px;
}

.nav-logo{
    justify-self: center;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.nav-logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding:0;
}

.nav-links a:hover {
  color: var(--willow-green);
}

.nav-links a {
  text-decoration: none;
  color: var(--hunter-green);
  transition: color 0.3s ease;
}

.nav-buttons{
    display:flex;
    gap: 15px;
}
.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display:inline-block
}

.button:nth-child(odd) {
  background-color: var(--willow-green);
  color: var(--charcoal-blue);
}

.button:nth-child(even) {
  background-color: var(--charcoal-blue);
  color: var(--willow-green);
}
.button:hover {
  background-color: white;
}

@media (max-width: 768px) {
  .navbar {
    border-radius: 20px;
    padding:15px;
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap:10px;
    align-items: start;
  }
  .nav-logo {
    grid-column:1;
    grid-row: 1/-1;
    padding:0;
    margin:0;
    align-self: center;
  }

  .nav-logo img {
    height: 60px;
    width: auto;
  }

  .nav-left {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    gap:10px;
  }

  .nav-links {
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    gap: 10px;
    font-size:14px;
    margin-left: 20px;
  }

  .nav-buttons {
   grid-column:2;
    grid-row:2;
    display:flex;
    justify-content: flex-end;
    gap:10px;
  }

  .button{
    padding: 8px 15px;
    font-size: 13px;
    white-space: nowrap;
  }
}