#nav {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: hsl(194, 43%, 80%);
  font-family: CaskaydiaMono; /*make to have like a slight transparency*/
  color: var(--hunter-green);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-left{
    display:flex;
    align-items: center;
    gap:40px;
}

.nav-logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding:0;
}

.nav-links a:hover {
  color: var(--willow-green);
}

.nav-links a {
  text-decoration: none;
  color: var(--hunter-green);
  transition: color 0.3s ease;
}

.nav-buttons{
    display:flex;
    gap: 15px;
}
.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display:inline-block
}

.button:nth-child(odd) {
  background-color: var(--willow-green);
  color: var(--charcoal-blue);
}

.button:nth-child(even) {
  background-color: var(--light-blue);
  color: var(--charcoal-blue);
}
.button:hover {
  background-color: white;
}
