#sponsors {
    margin: 0;
    padding-bottom: 2em;
    text-align: center;
    position: relative;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-bottom: 3px solid;
    border-image: repeating-linear-gradient(
        to right,
        black 0px,
        black 60px,
        transparent 60px,
        transparent 120px
    ) 1;
    border-image-slice: 1;
    box-sizing: border-box;
    --sponsor-card-height: 7.5rem;

    .sponsors-container {
        margin: 1em 4em;
        display: flex;
        flex-wrap: wrap;
        gap: .6em;
        justify-self: center;
    }

    .sponsors-title {
        font-family: 'CaskaydiaMono';
        font-weight: normal;
        color: var(--hunter-green);
        background-image: url('../assets/images/bluewashitape.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1em;
        margin: 0;
        font-size: large;
    }
    h1 {
        font-family: 'GlowBetter';
        font-weight: normal;
        color: var(--hunter-green);
        font-size: 50px;
        margin-block: 0;
    }
    p {
        font-family: 'CaskaydiaMono';
        font-size: large;
        color: var(--charcoal-blue);
        margin: 0 auto;
        padding: 1em 1.5em;
        background-color: var(--light-blue);
        width: fit-content;
        border-radius: 10px;
    }
    img.sticker {
        position: absolute;
    }
    img.plane {
        left: 0;
        top: 0;
        max-width: 150px;
    }
    img.rocket {
        bottom: -4px;
        max-height: 70%;
        right: 0;
        left: auto;
        z-index: -1;
    }
    .sponsor-card {
        background-color: rgba(255, 255, 255, .8);
        /* background-color: purple; */
        display: flex;
        box-sizing: border-box;
        width: auto;
        border-radius: 10px;
        overflow: hidden;
        justify-content: center;
    }
    .tier1 {
        height: calc(var(--sponsor-card-height) * 1.2);
        flex: 0 1;
    }
    .tier2 {
        height: calc(var(--sponsor-card-height) * .8);
    }
    .tier3 {
        height: calc(var(--sponsor-card-height) * .6);
    }
    .tier4 {
        height: calc(var(--sponsor-card-height) * .5);
    }
    img.sponsor-logo {
        width: 80%;
        height: auto;
        display: block;
        object-fit: contain;
    }
    .sponsor-link {
        width: auto;
        display: flex;
        padding: 0;
        margin: 0;
        line-height: 0;
        vertical-align: top;
        box-sizing: border-box;
        flex: 1 1 0;
    }
}