:root {
  --charcoal-blue: #2E4057;
  --hunter-green: #315E44;
  --willow-green: #B4DC7F;
  --light-blue: #B6D8E2;
  --toffee-brown: #8D633F;
}

body {
  background-image: url('assets/images/graph_paper_bg.png');
  background-color: rgba(255, 255, 255, 0.85);
  background-blend-mode: lighten;
  background-repeat: repeat;
  background-size: 400px;
  margin: 0;
}

@font-face {
  font-family: GlowBetter;
  src: url('assets/fonts/GLOWBETTER.OTF');
}

@font-face {
  font-family: CaskaydiaMono;
  src: url('assets/fonts/CASKAYDIAMONONERDFONT-REGULAR.TTF');
  font-weight: normal;
}

@font-face {
  font-family: CaskaydiaMono;
  src: url('assets/fonts/CASKAYDIAMONONERDFONT-BOLD.TTF');
  font-weight: bold;
}
