:root {
}

body {
  background-image: url('assets/images/graph_paper_bg.png');
  background-color: rgba(255, 255, 255, 0.82);
  background-blend-mode: lighten;
  background-repeat: repeat;
  background-size: 30%;
}

@font-face {
  font-family: GlowBetter;
  src: url('assets/fonts/GLOWBETTER.OTF');
}

@font-face {
  font-family: CaskaydiaMono;
  src: url('assets/fonts/CASKAYDIAMONONERDFONT-REGULAR.TTF');
  font-weight: normal;
}

@font-face {
  font-family: CaskaydiaMono;
  src: url('assets/fonts/CASKAYDIAMONONERDFONT-BOLD.TTF');
  font-weight: bold;
}
